{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="display-6 mb-4 text-center">{{ button_label|default('Create') }} Etudiant</h1>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="mb-3">
                        {{ form_label(form.nom, 'Nom', {'attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.prenom, 'Prénom', {'attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.prenom) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.ddn, 'Date de Naissance', {'attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.ddn, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.ddn) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.gerne, 'Genre', {'attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.gerne, {'attr': {'class': 'form-select'}}) }}
                        {{ form_errors(form.gerne) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.noteexeta, 'Note Examen', {'attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.noteexeta, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.noteexeta) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.classe, 'Classe', {'attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.classe, {'attr': {'class': 'form-select'}}) }}
                        {{ form_errors(form.classe) }}
                    </div>
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>

        <a href="{{ path('app_etudiants_index') }}" class="btn btn-secondary mt-3"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
{% endblock %}
