{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="display-6 text-center mb-4">Classes</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ classe.id }}</td>
                </tr>
                <tr>
                    <th>Niveau</th>
                    <td>{{ classe.niveau }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_classe_index') }}" class="btn btn-secondary btn-sm me-2">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
    
        <a href="{{ path('app_classe_edit', {'id': classe.id}) }}" class="btn btn-warning btn-sm me-2">
            <i class="fa-solid fa-pen"></i>
        </a>
        {{ include('classe/_delete_form.html.twig') }}
    </div>
{% endblock %}
